.header {
  font-family: "Raleway";
  text-align: center;
}

.header-title {
  text-transform: uppercase;
  font-size: 36px;
  line-height: 42px;
  font-weight: 400;
}

.header-title:after {
  margin: 52px auto 0 auto;
  content: "";
  display: block;
  width: 170px;
  height: 1px;
  background: #ec7979;
}

.header-subtitle {
  margin-top: 40px;
}

.header-subtitle__text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #86878b;
}

.about {
  text-align: center;
  padding-top: 55px;
  padding-bottom: 58px;
}

.about-cards {
  display: flex;
  gap: 30px;
  margin-top: 70px;
}

.card-item {
  max-width: 370px;
}

.card-item__icon {
  width: 170px;
  height: 170px;
  margin: 0 auto 25px;
}

.cart-item__content-title {
  margin-bottom: 30px;
}

.content-title__title {
  font-family: "Open sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  padding: 10px 0;
}

.cart-item__content-text {
  margin-top: 10px;
}

.content-text__text {
  padding: 0 3px;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

@media (max-width: 550px) {
  .about {
    padding-top: 2px;
  }
  .header-title {
    font-size: 24px;
    line-height: 28px;
  }
  .header-title:after {
    width: 134px;
    margin: 42px auto 0 auto;
  }
  .header-subtitle {
    margin-top: 27px;
  }
  .header-subtitle__text {
    font-size: 13px;
    line-height: 15px;
  }
  .about-cards {
    flex-direction: column;
    margin-top: 40px;
    gap: 0px;
  }
  .card-item {
    margin: 0 auto;
  }
  .card-item__icon {
    width: 147px;
    height: 147px;
  }
  .content-title__title {
    font-size: 18px;
    line-height: 25px;
  }
  .cart-item__content-text {
  }
  .content-text__text {
    font-size: 14px;
    line-height: 16px;
  }
}
