.banner {
  background-image: url(../assets/image/banner/background.jpg);
  position: relative;
  padding: 231px 0 185px;
}

.banner::before {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.banner-content {
  position: relative;
  display: flex;
  z-index: 3;
  justify-content: space-between;
  align-items: center;
}

.banner-content__description {
  color: #ffffff;
}

.banner-content__description-logo {
  display: flex;
  gap: 5px;
  margin-bottom: 72px;
}

.banner__logo__icon-ax {
  height: 55px;
}

.banner__logo__icon-it {
  height: 55px;
}

.banner-content__description-text {
  max-width: 670px;
  font-family: "Raleway";
}

.banner-text__title-title::after {
  content: "";
  display: block;
  width: 170px;
  height: 1px;
  background-color: #ffffff;
  margin: 52px 0 41px 0;
}

.banner-text__title-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  margin-top: 51px;
}

.banner-text__subtitle {
  max-width: 270px;
  margin-bottom: 42px;
}

.banner-text__subtitle-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.banner-content__description-button__button {
  padding: 15px 88px;
  cursor: pointer;
  border: 2px solid #ffffff;
  background-color: transparent;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
}

.banner-content__description-button__button:hover {
  background-color: #ffffff;
  color: #000000;
}

.form {
  max-width: 470px;
  background-color: #ffffff;
  border-radius: 10px;
}

.form-up {
  padding: 30px 50px 75px;
}

.form-title {
  margin-bottom: 45px;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
  color: #333333;
}

.form_input-label {
  margin-top: 47px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #bdbdbd;
}

.highlight-title {
  color: #ec7979;
}

.form-input {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #bdbdbd;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.form-button {
  width: 100%;
  padding: 20px 0;
  border: none;
  border-radius: 0px 0px 10px 10px;
  background-color: #ec7979;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  cursor: pointer;
}

input {
  font-family: "Open Sans";
  font-style: normal;
  font-size: 12px;
}

@media (max-width: 550px) {
  .banner {
    background-repeat: no-repeat;
    padding: 84px 0 50px;
    background-position-x: center;
    background-position-y: 80%;
  }

  .banner-content {
    flex-direction: column;
  }

  .banner-content__description-logo {
    display: none;
  }

  .banner-content__description-text {
    text-align: center;
  }

  .banner-text__title-title {
    margin-top: 0;
    font-size: 36px;
    line-height: 42px;
  }

  .banner-text__title-title::after {
    width: 134px;
    margin: 43px auto;
  }

  .banner-text__subtitle {
    max-width: 100%;
  }

  .banner-text__subtitle-subtitle {
    font-size: 14px;
    line-height: 16px;
  }

  .banner-content__description-button {
    margin-bottom: 54px;
    text-align: center;
  }

  .banner-content__description-button__button {
    padding: 11px 98px;
  }

  .form-up {
    padding: 35px 33px 52px 25px;
  }

  .form-title {
    font-size: 14px;
    line-height: 19px;
    margin: 0;
    text-align: center;
  }

  .form_input-label {
    margin-top: 33px;
  }
}
