.pricing {
  padding-top: 106px;
  padding-bottom: 52px;
  font-family: "Raleway";
  background-color: #f5f5f5;
}

.pricing-cards {
  display: flex;
  gap: 30px;
  margin-top: 79px;
}

.pricing-cards__item {
  width: 370px;
}

.pricing-cards__item-list {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
  color: #86878b;
}

.item-list__price {
  border: 1px solid #f5f5f5;
}

.item-list__price:nth-child(-n + 3) {
  background-color: #333333;
  color: #ffffff;
}

.item-list__price:nth-child(n + 3) {
  padding: 13px 0 14px 0;
}

.item-list__price:nth-child(n + 4) {
  background-color: #ffffff;
  color: #86878b;
}

.active:last-child {
  padding-bottom: 0;
}

.active {
  margin-top: -20px;
}

.basic,
.optima,
.pro {
  height: 60px;
  padding-top: 14px;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}

.price {
  height: 100px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.active .pricing-cards__item-list {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@media (max-width: 550px) {
  .pricing {
    padding-top: 48px;
    padding-bottom: 24px;
  }

  .pricing-cards {
    flex-direction: column;
    margin-top: 25px;
    gap: 27px;
  }

  .pricing-cards__item {
    width: 100%;
  }

  .pricing-cards__item-list {
    font-size: 14px;
    line-height: 16px;
  }

  .item-list__price:nth-child(n + 3) {
    padding: 8px 0 14px 0;
  }

  .basic,
  .optima,
  .pro {
    height: 47px;
    font-size: 18px;
    line-height: 25px;
  }

  .price {
    height: 78.5px;
    font-size: 24px;
    line-height: 28px;
  }

  .active {
    margin-top: 0;
  }
}
