.reviews {
  padding-top: 104px;
  padding-bottom: 62px;
}

.reviews-content {
  display: flex;
  gap: 30px;
  margin-top: 83px;
}

.reviews-content__item {
  position: relative;
}

.reviews-dots {
  display: none;
}

.reviews-content__item-comment {
  margin-bottom: 68px;
}

.reviews-content__item-comment::after {
  content: "";
  position: absolute;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 20px solid #e2e2e2;
  left: 20%;
}

.text-comment {
  padding: 38px 20px 37px;
  background-color: #e2e2e2;
  border-radius: 10px;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #86878b;
}

.reviews-content__item-author {
  display: flex;
  gap: 30px;
}

.author-description__name {
  padding-top: 8px;
  margin-bottom: 28px;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}

.description-position {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  color: #000000;
}

@media (max-width: 550px) {
  .reviews {
    padding-top: 22px;
    padding-bottom: 33px;
  }

  .reviews-content {
    flex-direction: column;
    margin-top: 22px;
  }

  .reviews-dots {
    margin: 0 auto;
    display: block;
    width: 130px;
    display: flex;
    justify-content: space-between;
  }

  .dots-btn {
    width: 9.5px;
    height: 9.5px;
    border-radius: 50%;
    background-color: #86878b;
    border: 1px solid #86878b;
    cursor: pointer;
  }

  .dots-btn:nth-child(odd) {
    background-color: transparent;
  }

  .reviews-content__item:nth-child(odd) {
    display: none;
  }

  .reviews-content__item-comment {
    margin-bottom: 65px;
  }

  .text-comment {
    font-size: 14px;
    line-height: 16px;
    padding: 50px 18px;
  }

  .reviews-content__item-comment::after {
    left: 16%;
  }

  .reviews-content__item-author {
    gap: 23px;
  }

  .item-author-photo img {
    width: 57px;
    height: 57px;
  }

  .author-description__name {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 19px;
  }

  .description-position {
    font-size: 13px;
    line-height: 15px;
  }
}
