@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&family=Raleway:wght@100;300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    width: 1170px;
    font-family: 'Open Sans', 'Raleway';
    margin: 0 auto;
}

/* header/ */
.header {
    padding-top: 50px;
    font-family: 'Raleway';
    text-align: center;
    font-weight: 400;
}

.header-title {
    height: 150px;
    padding: 55px 0;
}

.header-title__text {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 42px;
}

.header-subtitle {
    margin-top: 38px;
}

.header-subtitle__text {
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
}

.header-title:after {

    margin: 50px auto 0 auto;
    content: '';
    display: block;
    width: 170px;
    height: 1px;
    background: #EC7979;
}

/* /header */

.tabs {
    margin-top: 100px;
}

.tabs-header {
    display: flex;
}

.tabs-header__tab {
    width: 184px;
    text-align: center;
    padding: 10px 0;
    margin-bottom: -1px;
}

.tab-active {
    width: 201px;
    border: 1px solid #C6CBCD;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background-color: white;
}

.tabs-header__tab-text {
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: 400;
}

.tab-text {
    font-size: 14px;
}

.tabs-description {
    border: 1px solid #C6CBCD;
    display: flex;
}

.tabs-description__content {
    padding: 0 32px 54px 98px;
}

.description__content-title {
    margin-bottom: 27px;
    padding: 42px 0;
}

.content-title {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 30px;
}

.description__content-text {
    width: 570px;
    margin-bottom: 28px;
}

.contetn-text {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
}

.content-download {
    width: 270px;
    padding: 18px 0;
    background: #EC7979;
    border: none;
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
}

.content-image img {
    width: 470px;
    height: 500px;
}

.about {
    text-align: center;
}

.about-cards {
    display: flex;
    gap: 30px;
    margin: 70px 0 58px;
}

.card-item {
    width: 370px;
}

.card-item__icon {
    width: 170px;
    height: 170px;
    margin: 0 auto 25px;
}

.cart-item__content-title {
    margin-bottom: 30px;
}

.content-title__title {
    font-family: "Open sans";
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    padding: 10px 0;
}

.cart-item__content-text {
    margin-top: 10px;
}

.content-text__text {
    padding: 0 3px;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.pricing {
    font-family: 'Raleway';
    background-color: #F5F5F5;
}

.pricing-cards {
    display: flex;
    gap: 30px;
    margin-top: 79px;
}

.pricing-cards__item {
    width: 370px;
    margin-bottom: 50px;
}

.pricing-cards__item-list {
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: capitalize;
    color: #86878B;
}

.item-list__price {
    border: 1px solid #F5F5F5;
}

.item-list__price:nth-child(-n+3) {
    background-color: #333333;
    color: #FFFFFF;
}

.item-list__price:nth-child(n+3) {
    padding: 14px 0 14px 0;
}

.item-list__price:nth-child(n+4) {
    background-color: #FFFFFF;
    color: #86878B;
}

.active:last-child {
    padding-bottom: 0;
}

.active {
    margin-top: -20px;
}

.basic,
.optima,
.pro {
    height: 60px;
    padding-top: 14px;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}

.price {
    height: 100px;
    padding: 32px 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
}

.active .pricing-cards__item-list {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.reviews-content {
    display: flex;
    gap: 30px;
    margin: 83px 0 64px;
}

.reviews-content__item {
    position: relative;
}

.reviews-content__item-comment {
    margin-bottom: 68px;
}

.reviews-content__item-comment::after {
    content: '';
    position: absolute;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 20px solid #E2E2E2;
    left: 20%;
}

.item-comment {
    padding: 38px 20px 37px;
    background-color: #E2E2E2;
    border-radius: 10px;
}

.text-comment {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878B;
}

.reviews-content__item-author {
    display: flex;
    gap: 30px;
}

.author-description__name {
    padding-top: 8px;
    margin-bottom: 15px;
}

.description-name {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    color: #000000;
}

.author-description__position {
    padding-top: 10px;
}

.description-position {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    color: #000000;
}