@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&family=Raleway:wght@100;300;400&display=swap");
@import url(./header.css);
@import url(./footer.css);
@import url(./banner.css);
@import url(./social.css);
@import url(./tabs.css);
@import url(./about.css);
@import url(./pricing.css);
@import url(./review.css);
@import url(./design.css);
@import url(./contact.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  font-family: "Open Sans", "Raleway";
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
